.data-selector {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  margin-bottom: 70px;
  z-index: 1000;
}

.data-selector-tables {
  padding: 15px 10px 15px 10px;
  background-color: #f3f3f3;
}

.data-table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.data-table tr,
.data-table td,
.data-table th {
  padding: 0;
  margin: 0;
}

.data-table thead td {
  height: 39px;
  background-color: #fff;
}

.data-table thead h5 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: 1px solid #cdcdcd;
}

.data-table-weeks {
  height: 23px;
  background-color: #f3f3f3;
  color: #8c8c8c;
  font-size: 14px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.data-table-weeks th {
  text-align: center;
}

.data-table-weeks .weekend {
  color: #ff9036 !important;
}
