.data-selector {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  margin-bottom: 70px;
  z-index: 1000;
}

.data-selector-tables {
  padding: 15px 10px 15px 10px;
  background-color: #f3f3f3;
}

.data-table table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.data-table table thead tr,
.data-table table thead tr td,
.data-table table tbody tr th {
  padding: 0;
  margin: 0;
}

.data-table table thead tr td {
  height: 39px;
  background-color: #fff;
}

.data-table table thead tr td h5 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: 1px solid #cdcdcd;
}

.data-table table .data-table-weeks {
  height: 23px;
  background-color: #f3f3f3;
  color: #8c8c8c;
  font-size: 14px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.data-table-weeks th {
  text-align: center;
}

.data-table .weekend {
  color: #ff9036 !important;
}

.data-table-days {
  font-size: 14px;
  color: #8c8c8c;
}

.data-table-days td {
  background-color: #fff;
  color: #000;
  border: 2.5px solid #e3e3e3;
  text-align: center;
  margin: 0 2px 2px 0;
  height: 40px;
  width: 40px;
}

.data-table-days td.null {
  background-color: #e3e3e3;
}

.data-table-days td.disabled {
  color: #a7a7a7;
  background-color: #f3f3f3;
  cursor: not-allowed;
}
