.high-speed {
  height: 46px;
  line-height: 46px;
  display: flex;
}

.high-speed-label {
  flex: 1;
  text-align: left;
  font-size: 15px;
  color: #888;
}

.high-speed-switch {
  text-align: right;
  flex: 1;
  position: relative;
}

.high-speed-track {
  display: inline-block;
  width: 50px;
  height: 30px;
  background-color: #ccc;
  border-radius: 16px;
  padding: 1px;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}

.high-speed-track.checked {
  background-color: #1ba9ba;
}

.high-speed-handle {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1000;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-out;
  box-sizing: border-box;
}

.high-speed-handle.checked {
  transform: translateX(20px);
}

.high-speed-track::after {
  position: absolute;
  left: 15px;
  content: '';
  width: 34px;
  height: 28px;
  background-color: #fafafa;
  border-radius: 0 15px 15px 0;
  transition: transform 0.13s ease-out;
}

.high-speed-track.checked::after {
  transform: scale(0);
}
